<div class="container">
  <div class="d-flex justify-content-between">
    <h1 class="d-inline">Hosts</h1>
    <button type="button" class="btn btn-primary m-2" (click)="navigateToCreatePage()">Create App</button>
  </div>
  @for (group of getChunks(hosts(), 3); track $index) {
    <div class="row m-2">
      @for (app of group; track app) {
        <div class="col-sm list-group">
          <app-app [app]="app"/>
        </div>
      }
    </div>
  }

  <h1>LXCs</h1>
  @for (group of getChunks(LXCs(), 3); track $index) {
    <div class="row m-2">
      @for (app of group; track app) {
        <div class="col-sm list-group">
          <app-app [app]="app"/>
        </div>
      }
    </div>
  }

  <h1>VMs</h1>
  @for (group of getChunks(VMs(), 3); track $index) {
    <div class="row m-2">
      @for (app of group; track app) {
        <div class="col-sm list-group">
          <app-app [app]="app"></app-app>
        </div>
      }
    </div>
  }

</div>
